<!DOCTYPE html>
<html>
<head>
    <title>Моя веб-страница</title>
    <style>
        body {
            background-color: #f2f2f2;
            font-family: Arial, sans-serif;
        }
        h1 {
            font-size: 24px;
            color: #333;
        }
        p {
            font-size: 16px;
            color: #666;
        }
        img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <h1>Заголовок первого уровня</h1>
    <p>Некоторый текст в параграфе.</p>
    <img src="24.jpg" alt="picture">
</body>
</html>